link-underline = rgba(0, 0, 0, 1)
link-underline-hover = rgba(0, 0, 0, 0.125)
main = #131313

*

	box-sizing: border-box

html, body

	font-family: 'Work Sans', sans-serif;
	font-size: 20px
	height: 100%
	@media screen and (min-width: 768px)

		font-size: 30px

body

	background-color: white
	color: main
	letter-spacing: 0.1px
	line-height: 1.36
	margin: 0
	padding: 0.5rem 1rem 0
	@media screen and (min-width: 768px)

		padding: 0.5rem 2rem 0

	@media screen and (min-width: 1025px)

		padding: 0.5rem 4rem 0

a

	color: main
	display: inline-block
	outline: 0;
	position: relative
	text-decoration: none

	&:after

		background-color: link-underline
		bottom: 0em
		content: " "
		height: 0.1em
		left: -0.1em
		position: absolute
		right: -0.1em
		transition: height 0.5s, background-color 1s

	&:focus:after, &:hover:after

		background-color: link-underline-hover
		height: 1.3em
		transition: height 0.5s, background-color 0.25s

h1, h4

	margin: 0

h2

	font-size: 1.36rem
	margin: 0 0 1rem
	line-height: 2rem

h3

	font-size: 1.17rem
	margin-bottom: 0

li

	display: block
	&.big

		margin: 0 0 1.5rem

section

	border-top: 0.3rem solid main
	padding-top: 0.2rem
	position: relative

ul

	padding: 0
	margin: 0

.full-height

	display: flex
	flex-direction: column
	justify-content: justify-content
	min-height: 100%
	padding-bottom: 1rem

.intro

	margin: auto 0

.links

	font-size: 1em
	margin-top: 0

.heart

	font-family: fantasy
	font-size: 1.2rem
	line-height: 0.8rem
	vertical-align: middle

.no-mobile

	display: none
	@media screen and (min-width: 650px)

		display: inline-block

.dates

	margin-top: 0

.half

	ul
		padding-bottom: 1.4rem
	@media screen and (min-width: 650px)

		float: left
		width: 50%

.back-to-top

	margin-top: auto

.clearfix

	clear: both

.no-wrap

	white-space: nowrap
