link-underline = rgba(0, 0, 0, 1)
link-underline-hover = rgba(0, 0, 0, 0.15)
main = #131313

*

	box-sizing: border-box

html, body

	font-family: 'Work Sans', sans-serif;
	font-size: 20px
	height: 100%
	@media screen and (min-width: 768px)

		font-size: 30px

body

	background-color: white
	color: main
	line-height: 1.36
	margin: 0
	padding: 0.5rem 1rem 0
	@media screen and (min-width: 768px)

		padding: 0.5rem 2rem 0

	@media screen and (min-width: 1025px)

		padding: 0.5rem 4rem 0

a

	background: linear-gradient(transparent 90%, link-underline 0)
	color: main
	outline: 0;
	text-decoration: none

	&:focus, &:hover

		background: linear-gradient(transparent 40%, link-underline-hover 0)

h1, h4

	margin: 0

h2

	font-size: 1.36rem
	margin: 0 0 1rem
	line-height: 2rem

h3

	font-size: 1.17rem
	margin-bottom: 0

li

	display: block
	&.big

		margin: 0 0 1.5rem

section

	border-top: 0.3rem solid main
	padding-top: 0.2rem
	position: relative

ul

	padding: 0
	margin: 0

.full-height

	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100%
	padding-bottom: 1rem

.links

	font-size: 1em

.heart

	font-family: fantasy
	font-size: 1.2rem
	line-height: 0.8rem
	vertical-align: middle

.no-mobile

	display: none
	@media screen and (min-width: 650px)

		display: inline-block

.dates

	margin-top: 0

.half

	ul
		padding-bottom: 1.4rem
	@media screen and (min-width: 650px)

		float: left
		width: 50%

.clearfix

	clear: both

.no-wrap

	white-space: nowrap
